body {
    overflow: hidden;
    background-color: aquamarine;
}

.box {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
}

.box::before {
    content: "";
    background-color: ;
}